
body{
  height: 600px;
  width: 400px;
}

button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

.hide{
  display: none;
}
.flex{
  display: flex;
}

.profile-container{
  width: 100%;
  height: 480px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-container button{
  width: 200px;
}
.profile-container img{
  width: 60%;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#try-cloth{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.try-it-on{
  width:60px;
}

#image-carousel-img{
  width: 240px;

}
.image-carousel-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button:hover{
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#api-result{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

#result-img{
  width: 240px;
}